from pgin.lib.basemigration import Basemigration
# =========================================


class {{ name.capitalize() }}(Basemigration):
    """
        Migration revert/{{ name }}
    """

    def __call__(self):

        query = """
        """

        params = []
        try:
            self.cursor.execute(query, params)
            self.conn.commit()
        except Exception:
            self.conn.rollback()
            raise
